<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
      <a class="navbar-brand">Angular Router</a>
      <ul class="nav navbar-nav" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link" routerLink="/mainPage">mainPage</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/sequentialSearch">sequentialSearch</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/hashSearch">hashSearch</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/binaryTreeSearch">binaryTreeSearch</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/knuthSearch">knuthSearch</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/boyerSearch">boyerSearch</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/rabinSearch">rabinSearch</a></li>
      </ul>
  </div>
</nav>


<router-outlet></router-outlet>
