<div class="container mt-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            <form class="search-form">
                <h1 class="search-form--title">Wyszukiwanie podłańcuchów metodą Knutha-Morrisa-Pratta</h1>
                <div class="tab">
                    <h6>Podaj frazę do wyszukania</h6>
                    <input type="text">
                </div>
                <div class="text-center">
                    <button class="btn btn-primary btn-block w-100">Szukaj</button>
                </div>
            </form>
        </div>
    </div>
</div>